<div class="row">
  <div class="col-xs-8">
    <table cellspacing="0" class="table-bordered tictactoe">
      <% 3.times do |row| %>
        <tr>
          <% 3.times do |col| %>
            <%= cell_html(@game.round, row, col) %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <br/>
    <%= render "rounds/bottom_page_buttons" %>
  </div>
  <div class="col-xs-4">
    <%= render "rounds/current_player" %>
  </div>
</div>
