<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-7 centered">
    <div class="row">
      <div class="col-xs-6" id="leaderboard">
        <%= render "leaderboard" %>
      </div>
      <div class="col-xs-6" id="games_list">
        <%= render "games_list" %>
      </div>
    </div>
  </div>
</div>
