<div class="row">
  <div class="centered col-md-6">
    <h1 >TicTacToe</h1>
    <dl class="dl-horizontal pull-right">
      <div id="player1_name">
        <dt>Player: </dt>
        <dd><%= @game.player1 %></dd>
      </div>
      <div id="player2_name">
        <dt>Player: </dt>
        <dd><%= @game.player2 %></dd>
      </div>
    </dl>

    <table cellspacing="0" class="table-bordered tictactoe">
      <tr>
        <td>X</td>
        <td>0</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
